<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link rel="stylesheet" href="/css/commons.css">
    <!--    <link href="css/commons.css" rel="stylesheet">-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="app">

    <th:block th:insert="common/header"></th:block>

    <hr>

    <div class="btn-area">
        <div class="btn"><a class="basic-btn regist" href="/insert">新規登録</a></div>
        <div class="btn"><a class="basic-btn regist" href="category.html">カテゴリ管理</a></div>
    </div>
    <p>成功メッセージ</p>
    <form method="get" action="/menu" class="search-form" th:object="${login}">
        <div class="order">
            <select name="order" class="base-text">
                <option th:value="nothing">並び替え</option>
                <option>商品ID：昇順</option>
                <option>商品ID：降順</option>
                <option>カテゴリ：昇順</option>
                <option>カテゴリ：降順</option>
                <option>単価：安い順</option>
                <option>単価：高い順</option>
            </select>
        </div>
        <div class="search-container">
            <input type="text" name="keyword" size="25" placeholder="キーワード検索">
            <input type="submit" value="&#xf002">
        </div>
    </form>

    <table>
        <div class="caption"><p th:text="'検索結果：' + ${T(java.lang.String).format(products.size())} + '件'"></p></div>

        <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>単価</th>
            <th>カテゴリ</th>
            <th>詳細</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.product_id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.categories_name}"></td>
            <td><a class="detail_btn" th:href="@{/detail/{product_id} (product_id = ${product.product_id})}">詳細</a></td>
        </tr>
        </thead>
    </table>
</div>
<footer></footer>

</body>
</html>