<!DOCTYPE html>
<html xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
    <link rel="stylesheet" href="/css/commons.css">
</head>
<body>

<th:block th:insert="common/header"></th:block>

<hr>

<div class="insert">
    <div class="form-body">
        <p class="error">[[${Duplicationerror}]]</p>

        <form th:action="'/updateInput/'+${updateForm.id}" method="post"  th:object="${updateForm}">
<!--        <form action="@{{id} (id = ${updateForm.id})}" method="post"  th:object="${updateForm}">-->
            <fieldset class="label-130">

                <input type="hidden" th:field="*{id}">

                <div>
                    <label>商品ID</label>
                    <input type="text" name="productId" class="base-text" th:field="*{product_id}">
                    <span class="error" th:each="error: ${#fields.errors('product_id')}">[[${error}]]</span>
                </div>

                <div>
                    <label>商品名</label>
                    <input type="text" name="name" class="base-text" th:field="*{name}">
                    <span class="error" th:each="error: ${#fields.errors('name')}">[[${error}]]</span>
                </div>

                <div>
                    <label>単価</label>
                    <input type="text" name="price" class="base-text" th:field="*{price}">
                    <span class="error" th:each="error: ${#fields.errors('price')}">[[${error}]]</span>
                </div>

                <div class="select_block">
                    <label class="required">カテゴリ</label>
                    <select name="categoryId" class="base-text" th:field="*{category_id}">
                        <option th:each="category : ${categories}" th:value="${category.id}">[[ ${category.name} ]]</option>
                    </select>
                    <span class="error" th:each="error: ${#fields.errors('category_id')}">[[${error}]]</span>
                </div>

                <div>
                    <label>商品説明</label>
                    <textarea name="description" class="base-text" th:field="*{description}"></textarea>
                </div>

                <div>
                    <label>画像</label>
                    <input type="file" name="file">
                    <span class="error">エラーメッセージ</span>
                </div>
            </fieldset>
            <div class="btns">
                <button type="submit" class="basic-btn">更新</button>
                <input type="button" th:onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
            </div>
            <div id="modal">
                <p class="modal-message">更新しますか？</p>
                <div class="btns">
                    <button type="submit" id="update-btn" class="basic-btn">更新</button>
                    <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="fadeLayer"></div>
<script th:src="@{/js/commons.js}"></script>
<!--<script>-->
<!--    'use strict'-->
<!--    document.getElementById('update-btn').addEventListener('click', () => {-->
<!--      location.href = './menu.html'-->
<!--    })-->
<!--</script>-->
</body>
</html>